body{
    /* mise en page de la coleur et du margin */
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #2b2d3b;
    color: white;
}
main {
    width: 100%;
    display: flex;
    flex-direction: column;
}
#intro {
    background-image: url(./assets/img/cover_dark.jpg);
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
}
div#intro {
        position: relative;
        height: 50vh;
}
h1 {
    text-transform: uppercase;
    text-align: center;
    height: 40vh;
}
header:hover{
    /* mise en place du hover pour ajuster le fond */
    background-color: rgba(0, 0, 0, 0.5);
}
header {
    /* mise en place taille , emplacement et transition dans le header */
    width: 100%;
    display: flex;
    justify-content: space-between;
    transition: background-color ease-in-out 1s;
}
header .logo img {
    /* mise en place du logo et de sa taille */
    width: 20%;
    display: block;
    max-width: 160px;
    min-width: 55px;
}
header nav {
    /* mise en place de la taille et l'emplacement de la nav */
    display: none;
    align-self: center;
    justify-content: space-between;
    margin-right: 5%;
    width: 100%;
    height: auto;
}

button{
    display: flex;
    background-color: #E0CDA9;
}
.img {
    display: flex;
    align-self: center;
    width: 20px;
    height: 20px;
}
@media (min-width:750px){
    header nav {
        display: flex;
    }
    button{
        display: none;
    }
    header nav a {
        /* mise en place des liens de navigations de la nav */
        color: white;
        display: inline-block;
        font-size: 1em;
        font-weight: bold;
        letter-spacing: 1px;
        padding: 1% 3%;
        text-decoration: none;
        text-transform: uppercase;
        width: auto;
    }
    header nav .resto{
        background-color: #E0CDA9;
        border-radius: 25px;
        padding: 0 15px;
        display: flex;
        align-items: center;
    }
}

main section {
    width: 100%;
}

.Menu {
    width: 80%;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Menu article {
    width: 100%;
}

.Menu article img {
    width: 100%;
}

.Menu article div {
    display: flex;
    flex-direction: column;
}

.Menu article h3 {
    align-self: center;
}

.Menu article p {
    text-align: center;
}

hr {
    border: 0;
    background-color: #e0cda9;
    margin: 5vh 0;
    height: 5px;
    width: 100%;
    border-radius: 2px;
}

@media (min-width: 750px) {
    .Menu article {
        justify-content: space-between;
    }
    
    .Menu article img {
        width: 60%;
    }

    .Menu article div {
        width: 35%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .txtright {
        display: flex;
    }

    .txtleft {
        display: flex;
        flex-direction: row-reverse;
    }
}